@-moz-document url("about:home"), url("about:newtab") {

  body {
    background-color: var(--yaru-homepage-bg) !important;
  }

  /* Logo and Wordmark */
  .logo-and-wordmark {
    align-items: flex-start !important;
    justify-content: flex-start !important;
  }
  .outer-wrapper {
    align-content: center !important;
    justify-content: center !important;
  }
  main {
    margin: 0 !important;
  }
  .layout-variant-a .ds-outer-wrapper-breakpoint-override main, .layout-variant-b .ds-outer-wrapper-breakpoint-override main {
    width: 100% !important;
    height: 100% !important;
  }
  main.newtab-main {
    min-width: unset !important;
  }
  .search-wrapper .search-inner-wrapper {
    align-content: center !important;
    justify-content: center !important;
    margin-top: -85px !important;
  }
  .logo-and-wordmark .logo {
    height: 56px !important;
    width: 56px !important;
    background-size: 56px !important;
  }
  .logo-and-wordmark .wordmark {
    background-size: 91px !important;
    height: 56px !important;
    margin-inline-start: 12px !important;
    width: 91px !important;
  }

  /* Searchbar */
  .layout-variant-a .ds-outer-wrapper-breakpoint-override main, .layout-variant-b .ds-outer-wrapper-breakpoint-override main {
    height: 100% !important;
  }
  .search-wrapper .search-handoff-button, .search-wrapper input {
    background: var (--gnome-homepage-searchbar-bg) !important;
    background-size: 16px !important;
    padding-inline-start: 48px !important;
    border: 0px solid transparent !important;
    border-radius: 0px !important;
    border-bottom: 1.5px solid var(--gnome-homepage-searchbar-border-color) !important;
  }
  .search-wrapper .search-inner-wrapper {
    min-height: 35px !important;
  }
  .search-handoff-button {
    font-size: 1rem !important;
  }
  .search-handoff-button .fake-editable {
    height: 35px !important;
  }
  .search-wrapper:active .search-handoff-button, .search-wrapper input:focus {
    max-height: 35px !important;
  }
  .search-wrapper .search-handoff-button .fake-caret {
    top: 9px !important;
  }

  /* Weather Widget*/
  .no-search.layout-variant-b .weather,
  .layout-variant-b .weather {
    inset-block-start: 25px !important;
  }

  /* Dark Banner*/
  body::before {
    content: "";
    display: flex;
    width: 100%;
    height: calc(86px + 24px);;
    background: var(--yaru-banner-bg);
    position: absolute;
  }
}

/* Shortcuts and Recent Activity */
.compact-cards .card-outer .card-preview-image-outer {
  margin: 15px !important;
}
.card-outer .card-preview-image-outer {
  background-color: transparent !important;
  border-radius: 0 !important;
}
.ds-highlights .section .section-list .card-outer {
  height: 200px !important;
}
.collapsible-section {
  padding: 10px 15px !important;
}
.card-outer {
  background: var(--yaru-card-bg) !important;
  border-radius: 0px !important;
  border: 1px solid var(--yaru-card-border-color) !important;
}
.compact-cards .card-outer .card-details {
  padding-top: 0 !important;
}
.shortcuts-refresh .top-site-outer {
  border-radius: 0 !important;
  border: 1px solid var(--yaru-card-border-color);
  margin-inline: 5px !important;
  background: var(--yaru-card-bg) !important;
}
.shortcuts-refresh .top-site-outer .tile {
  background: transparent !important;
  border-radius: 0 !important;
}
.top-site-outer .tile {
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0) !important;
  margin: 0 !important;
}
.shortcuts-refresh .top-site-outer .top-site-button {
  padding: 10px 16px 16px !important;
}
.shortcuts-refresh .top-site-outer .tile .icon-wrapper {
  width: 48px !important;
  height: 48px !important;
}
.shortcuts-refresh .top-site-outer .icon-pin-small {
  inset-block-start: -0.812rem !important;
  inset-inline-start: -1.812rem !important;
}
.icon.icon-pin-small {
  background-size: 18px !important;
  height: 18px !important;
  width: 18px !important;
}
.discovery-stream.ds-layout {
  margin-inline: -20px !important;
}
.collapsible-section[data-section-id="topsites"] .section-top-bar {
  display: flex !important;
}
.collapsible-section {
  padding: 10px 0px !important;
}
.top-sites > div > h2 {
  visibility: visible !important;
}
